
.DS_Store

.idea/.name

*.iml

.idea/encodings.xml

.idea/jsLibraryMappings.xml

.idea/libraries/Generated_files.xml

.idea/misc.xml

.idea/modules.xml

.idea/scopes/scope_settings.xml

.idea/vcs.xml

.idea/watcherTasks.xml

.idea/workspace.xml
