<?js
var data = obj;
var self = this;

var isInterface = false;
if( data.tags )
{
    for( var i=0; i<data.tags.length; i++ )
    {
        if( data.tags[i].title=="interface")
        {
            isInterface = true; 
        }
    }
}


if( isInterface && kind === 'class')
{

}
else
{

var xparams =[];
if( data.params )
{
    for( var i=0; i<data.params.length; i++ )
    {
        var paramName = data.params[i].name;
        var paramSignature = data.params[i].type ? data.params[i].type.names[0]:'any';
        paramSignature = '<span class="paramSignature"> : ' + paramSignature + '</span>';
        xparams.push( [ paramName, paramSignature].join('') )
    }

}
var accessType = '';
if(kind === 'function'){
    accessType = '<span class="accessType ' + (data.access ? data.access : 'public') + '">' + (data.access ? data.access : 'public') + '</span> ';
}
if(kind === 'event' && name.indexOf(':') != -1){
    name = name.split(':')[1];
}

var xreturn = "";
if( data.returns )
{
    xreturn = data.returns[0].type ? " &rarr; {"+data.returns[0].type.names[0]+"}":""
} else if(kind === 'class') {
    xreturn =" &rarr; {void}";
}
?>
<dt>
    <h4 class="name" id="<?js= id ?>"><?js= accessType + (kind === 'class' ? 'new ' : '') + name + (kind !== 'event' ? ( '('+xparams.join(', ') +')'+ xreturn ) : '') ?>


    </h4>
    
    <?js if (data.summary) { ?>
    <p class="summary"><?js= summary ?></p>
    <?js } ?>
</dt>
<dd>
    
    <?js if (data.description) { ?>
    <div class="description">
        <?js= data.description ?>
    </div>
    <?js } ?>



    <?js if (kind === 'event' && data.type && data.type.names) {?>
        <h5>Type:</h5>
        <ul>
            <li>
                <?js= self.partial('type.tmpl', data.type.names) ?>
            </li>
        </ul>
    <?js } ?>
    
    <?js if (data['this']) { ?>
        <h5>This:</h5>
        <ul><li><?js= this.linkto(data['this'], data['this']) ?></li></ul>
    <?js } ?>
    
    <?js if (data.params && params.length) { ?>
        <h5>Parameters:</h5>
        <?js= this.partial('params.tmpl', params) ?>
    <?js } ?>
    
    <?js= this.partial('details.tmpl', data) ?>
    
    <?js if (data.fires && fires.length) { ?>
    <h5>Fires:</h5>
    <ul><?js fires.forEach(function(f) { ?>
        <li><?js= self.linkto(f) ?></li>
    <?js }); ?></ul>
    <?js } ?>

    <?js if (data.listens && listens.length) { ?>
    <h5>Listens to Events:</h5>
    <ul><?js listens.forEach(function(f) { ?>
        <li><?js= self.linkto(f) ?></li>
    <?js }); ?></ul>
    <?js } ?>

    <?js if (data.listeners && listeners.length) { ?>
    <h5>Listeners of This Event:</h5>
    <ul><?js listeners.forEach(function(f) { ?>
        <li><?js= self.linkto(f) ?></li>
    <?js }); ?></ul>
    <?js } ?>
    
    <?js if (data.exceptions && exceptions.length) { ?>
    <h5>Throws:</h5>
    <?js if (exceptions.length > 1) { ?><ul><?js
        exceptions.forEach(function(r) { ?>
            <li><?js= self.partial('exceptions.tmpl', r) ?></li>
        <?js });
    ?></ul><?js } else {
        exceptions.forEach(function(r) { ?>
            <?js= self.partial('exceptions.tmpl', r) ?>
        <?js });
    } } ?>
    
    <?js if (data.returns && returns.length) { ?>
    <h5>Returns:</h5>
    <?js if (returns.length > 1) { ?><ul><?js
        returns.forEach(function(r) { ?>
            <li><?js= self.partial('returns.tmpl', r) ?></li>
        <?js });
    ?></ul><?js } else {
        returns.forEach(function(r) { ?>
            <?js= self.partial('returns.tmpl', r) ?>
        <?js });
    } } ?>
    
    <?js if (data.examples && examples.length) { ?>
        <h5>Example<?js= examples.length > 1? 's':'' ?></h5>
        <?js= this.partial('examples.tmpl', examples) ?>
    <?js } ?>
</dd>
<?js
}
?>
