<?js
var data = obj;
var self = this;



function HTMLEncode(str){
  var i = str.length,
      aRet = [];

  while (i--) {
    var iC = str[i].charCodeAt();
    if (iC < 65 || iC > 127 || (iC>90 && iC<97)) {
      aRet[i] = '&#'+iC+';';
    } else {
      aRet[i] = str[i];
    }
   }
  return aRet.join('');
}


var isInterface = false;
if( data.tags )
{
    for( var i=0; i<data.tags.length; i++ )
    {
        if( data.tags[i].title=="interface")
        {
            isInterface = true; 
        }
    }
}


if( isInterface && kind === 'class')
{ ?>
    <?js= self.linkto(meta.filename, '<div style="font-weight:lighter; float:right;" class="btn sourceBar"><i class="icon-eye-open"></i></div>') ?>
<?js
}
else
{

var xparams =[];
if( data.params )
{
    for( var i=0; i<data.params.length; i++ )
    {
        var paramName = data.params[i].name;
        var paramSignature = data.params[i].type ? data.params[i].type.names[0]:'any';
        paramSignature = ': <span class="paramSignature">' + HTMLEncode( paramSignature ) + '</span>';
        
        xparams.push( paramName + paramSignature );
    }

}


var accessType = '';
var fullAccess="";
if(kind === 'function'){
    var buttonClass;

    switch(data.access){
        case 'private':
            buttonClass = 'btn-danger';
        break;
        case 'static':
            buttonClass = 'btn-warning';
        break;
        case 'override':
            buttonClass = 'btn-info';
        break;
        default:
            buttonClass = 'btn-success';
        break;
    }
    accessType = '<span class="btn btn-mini ' + buttonClass + '" title="' + (data.access ? data.access : 'public') + '">M</span> ';


    if( data.attribs.indexOf('static')!=-1) fullAccess='<span class="btn btn-mini btn btn-inverse">S</span> ' 

}

if( kind==='event')
{
    accessType = '<span class="btn btn-mini btn btn-warning">E</span> ';
}

if(kind === 'event' && name.indexOf(':') != -1){
    name = name.split(':')[1];
}

if( kind==='typedef')
{
    accessType = '<span class="btn btn-mini btn btn-warning">&rarr;</span> ';
}

var xreturn = "";
if( data.returns )
{
    xreturn = data.returns[0].type ? " &rarr; { <span class='paramSignature'>"+data.returns[0].type.names[0]+"</span> }":""
}
else if(kind === 'class')
{
    xreturn =" &rarr; {void}";
}

var gen="";
if( data.genericAnnotation )
{
    gen = '<span class="genericAnnotation">'+data.genericAnnotation+'</span>';
}
?>
<dt>
    <a name="<?js= name ?>"></a>

    <h4 class="name" id="<?js= id ?>"><?js= fullAccess + accessType + (kind === 'class' ? '<span class="btn btn-mini btn btn-danger">C</span> new ' : '') + name + gen+(kind !== 'event' ? ( '( '+xparams.join(', ') +' )'+xreturn ) : '') ?>

    <?js if (data.meta && kind === 'class' ) { ?>

    <?js= self.linkto(meta.filename, '<div style="font-weight:lighter; float:right;" class="btn sourceBar"><i class="icon-eye-open"></i></div>') ?>

    <?js } ?>

    </h4>
    
    <?js if (data.summary) { ?>
    <p class="summary"><?js= summary ?></p>
    <?js } ?>
</dt>
<dd>
    
    <?js if (data.description) { ?>
    <div class="description">
        <?js= data.description ?>
    </div>
    <?js } ?>



    <?js if (kind === 'event' && data.type && data.type.names) {?>
        <h5>Type:</h5>
        <ul>
            <li>
                <?js= self.partial('type.tmpl', data.type.names) ?>
            </li>
        </ul>
    <?js } ?>
    
    <?js if (data['this']) { ?>
        <h5>This:</h5>
        <ul><li><?js= this.linkto(data['this'], data['this']) ?></li></ul>
    <?js } ?>
    
    <?js if (data.params && params.length) { ?>
        <h5>Parameters:</h5>
        <?js= this.partial('params.tmpl', params) ?>
    <?js } ?>
    
    <?js= this.partial('details.tmpl', data) ?>
    
    <?js if (data.fires && fires.length) { ?>
    <h5>Fires:</h5>
    <ul><?js fires.forEach(function(f) { ?>
        <li><a href="<?js= f.split('#event:').join('.html#') ?>"><?js= f ?></a></li>
    <?js }); ?></ul>
    <?js } ?>

    <?js if (data.listens && listens.length) { ?>
    <h5>Listens to Events:</h5>
    <ul><?js listens.forEach(function(f) { ?>
        <li><?js= self.linkto(f) ?></li>
    <?js }); ?></ul>
    <?js } ?>

    <?js if (data.listeners && listeners.length) { ?>
    <h5>Listeners of This Event:</h5>
    <ul><?js listeners.forEach(function(f) { ?>
        <li><?js= self.linkto(f) ?></li>
    <?js }); ?></ul>
    <?js } ?>
    
    <?js if (data.exceptions && exceptions.length) { ?>
    <h5>Throws:</h5>
    <?js if (exceptions.length > 1) { ?><ul><?js
        exceptions.forEach(function(r) { ?>
            <li><?js= self.partial('exceptions.tmpl', r) ?></li>
        <?js });
    ?></ul><?js } else {
        exceptions.forEach(function(r) { ?>
            <?js= self.partial('exceptions.tmpl', r) ?>
        <?js });
    } } ?>
    
    <?js if (data.returns && returns.length) { ?>
    <span>Returns:</span>
    <?js if (returns.length > 1) { ?><ul><?js
        returns.forEach(function(r) { ?>
            <li><?js= self.partial('returns.tmpl', r) ?></li>
        <?js });
    ?></ul><?js } else {
        returns.forEach(function(r) { ?>
            <?js= self.partial('returns.tmpl', r) ?>
        <?js });
    } } ?>
    
    <?js if (data.examples && examples.length) { ?>
        <h5>Example<?js= examples.length > 1? 's':'' ?></h5>
        <?js= this.partial('examples.tmpl', examples) ?>
    <?js } ?>
</dd>
<?js
}
?>
 